*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;

}
:root{
    --bg-color: #020312;
    --text-color: #fff;
    --main-color: #eb4a4a;
    --ralph-color: rgb(255, 0, 128);
    --second-color: gray;
    --other-color: #12141c;
    --h1-font: 5.2rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    right: 0;
    left: ;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding:  22px 5%;
    border-bottom: 1px solid transparent;
    transition: all .40 ease;
    height: 75px;

    flex-wrap: wrap;
   
    background: var(--bg-color)
}
.logo{
    padding-left: 82px;

}
.navbar{
    display: flex;
    top: 50%;
    padding-left: 500px;
    position: absolute;
}

.navbar a{
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    padding: 10px 25px;

    margin: 0 2px;
    border-radius: 0.5rem;
    transition: all .40s ease;
}
.navbar a:hover{
    background: var(--main-color);
    color: var(--text-color);
    
}
#menu-icon{
    font-size: 36px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 160px 12% 90px;
}
.home{
    height: 100vh;
    width: 100%;
    position: relative;
    background: ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: left;
 
}
    
.image-wrapper {
    display: flex;
    justify-content: right;
    margin-top: 1rem;
    margin-left: 0rem;
    align-items: center;

  }

  .image-wrapper img {
    width: 200px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    transition: 0.5s ease-out 100ms;
    cursor: pointer;
    
  }

  .image-wrapper img:hover {
    transform: scale(1.05);
  }

  .image-wrapper .img1 {
    height: 20rem;
    margin-right: -360px;
  }

  .image-wrapper .img2 {
    height: 25rem;
    margin-right: -360px;
  }

  .image-wrapper .img3 {
    height: 20rem;
    margin-right: -820px;
   

  
}
.home-text h1{
    margin: 20px 0;
    font-size: var(--h1-font);
    font-weight: bold;
    line-height: 1.1;
    justify-content: left;
    letter-spacing: 2px;
}
span{
    color:var(--main-color)
}
.home-text h4{
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
} 
.home-text h4{

    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3rem;
} 
.btn{
    display: inline-block;
    padding: 14px 40px;
    margin-top: 10px;
    border-radius: 0.5rem;
    font-size: 17px;
    font-weight: 500;
    background: var(--main-color);
    color: var(--text-color);
    border: 1px solid var(--main-color);
    transition: all .40s ease;
}
.btn:hover{
    transform: scale(1.01) translateY(-5px);
    background: transparent;
    border: 1px solid var(--main-color);

 
    transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
}


header.sticky{
    padding: 10px 16%;
    background: var(--bg-color);
    border-bottom: 1px solid #0e1630;

}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;


}
.about-text h4{
    margin: 10px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}
.about-text h2{
    font-size: var(--h2-font);
    margin-top: 5px;
}
.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1rem;
}
.about-gri{
    display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.about-in h5{
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 1px;
}
.about-img img{
    height: 400px;
    width: 100%;
    max-width: 460px;
    border-color: #eb4a4a;
    background-color: #fff;
    border-radius: 5rem;
    color: bisque;
    box-shadow: 1px 4px 10px var(--text-color)

}

.main-text{
    text-align: center;
  }
  .main-text h2{
    font-size: var(--h2-font);
    margin-bottom: 10px;
  }
  .main-text h4{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 600;
  }
  .services-con{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,auto));
  text-align: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
 
  }
  .box{
    padding: 45px;
    background: #12141c;
    border-top: 5px solid transparent;
    transition: all .40s ease;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .box p{
    margin-top: 1px;
    color: var(--second-color);
    font-size: var(--p-font);
  }
  .box:hover{
    transform: scale(1.02) translateY(-5px);
    border-top: 5px solid var(--main-color);
  }
  .box:hover h3{
    color: var(--main-color);
  }

  .portfolio-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,auto)); 
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  }
.row img{
    height: 240px;
    width: 100%;
    border-radius: 0.8rem;
    margin-bottom: 1.5rem;
}

.row{
    padding: 25px;
    
    background: #12141c;
    border-radius: 0.8rem;
    transition: all .40s ease;
}


.main-row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.row-icon{
    color: var(--text-color);

}
.row h3{
    color: var(--text-color);
    font-size: 23px;
    font-weight: 700;
}
.row h6 {
    color: var(--main-color);
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
}

.row:hover{
    transform: scale(1.0) translateY(-5px);
    border: 2px solid var(--main-color);
    cursor: pointer;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
   
}
.contact-text h4{
    margin: 15px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}
.contact-text h2{
    font-size: var(--h2-font);

}
.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list li a{
    display: block;
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translate(-5px);
    color: var(--main-color);
}
.contact-icons i{
    height: 40px;
    width: 40px;
    background: #12141c;
    border-radius: 0.5rem;
    color: var(--main-color);
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: 18px;
    margin-right: 10px;
    transition: all .40s ease;
}
.contact-icons i:hover{
    transform: scale(1.01) translate(-5px);
    color: var(--text-color);
    background: var(--main-color);

}
.contact-form form {

    position: relative;
    margin-left: 100px;
    margin-top: 15px;
    
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    background: #12141c;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{

    resize: none;
    height: 150px;
    width: 500px;
}
.contact-form form .send{
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    background: var(--main-color);
    color: var(--text-color);
    width: 150px;
    
    border: 1px solid var(--main-color);
    transition: all .40s ease;
    cursor: pointer;
}
.contact-form form .send:hover{
    transform: scale(1.01) translateY(-5px);
    background: transparent;
    border: 1px solid var(--main-color);
    
}
.last-text p{
    margin-top: 700px;
    margin-bottom: -100px;
    text-align: center;
    padding: 15px;
    color: var(--second-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;
}
.top i{
    color: var(--text-color);
    background: var(--main-color);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}